/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

/*----------------------------------------------------------*/
/*header*/
header {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

header .heading {
    font-size: 32px;
}

/*navigation*/
.nav-list {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

/*visual*/
.main-visual {
    width: 100%;
    height: 300px;
    background-image: url("img/forest.jpg");
    background-size: cover;
    background-position: top;
}

.main-visual-content {
    width: 40%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 105px;
}

.main-visual-text {
    color: #ffffff;
}

.main-visual-name {
    margin-top: 30px;
    color: #ffffff;
}

/*main*/
main {
    width: 800px;
    display: flex;
    justify-content: center;
}

/*footer*/
footer {
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #848282;
}

.footer-text {
    color: #f7f7f7;
}