* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

main {
    width: 960px;
    margin: 50px 0;
}

/*list*/
.list-item {
    list-style: none;
}

.odd {
    background-color: rgba(0, 0, 0, 0.5);
}

/*box*/
.box-item-1 {
    display: flex;
    flex-wrap: wrap;
}

.box-1 {
    width: 30%;
    height: 200px;
    margin-right: 5%;
    background-color: #fa5893;
}

.box-2 {
    width: 30%;
    height: 200px;
    margin-right: 5%;
    background-color: #fa5893;
}

.box-3 {
    width: 30%;
    height: 200px;
    margin-right: 5%;
    background-color: #fa5893;
}

.box-item-2 {
    display: flex;
    flex-wrap: wrap;
}

.box-item-3 {
    display: flex;
    flex-wrap: wrap;
}
