* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

/*main*/
main {
    margin-bottom: 50px;
}

/*list*/
.lists {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.list-item {
    width: 960px;
    list-style: none;
}
.odd {
    background-color: #acabab;
}

/*box*/
.boxes {
    width: 960px;
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    height: 200px;
    background-color: #ffea00;
}

.box-item-2 {
    margin: auto 5%;
}

.common-color {
    background-color: #FFA500FF;
}

.common-box {
    margin: 40px 0;
}