a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.nav-list {
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

main {
    width: 800px;
    /*justify-content: center;*/
    margin: 50px auto;
    display: flex; /*解答から追加*/
    flex-wrap: wrap; /*解答から追加*/
}

.green-1 {
    width: 200px;
    height: 200px;
    background-color: #e6ffe9;
}

.green-2 {
    width: 200px;
    height: 200px;
    background-color: #cdffd3;
}

.green-3 {
    width: 200px;
    height: 200px;
    background-color: #aeffbd;
}

.green-4 {
    width: 200px;
    height: 200px;
    background-color: #93ffab;
}

.yellow-1 {
    width: 200px;
    height: 200px;
    background-color: #f3ffd8;
}

.yellow-2 {
    width: 200px;
    height: 200px;
    background-color: #edffbe;
}

.yellow-3 {
    width: 200px;
    height: 200px;
    background-color: #e9ffa5;
}

.yellow-4 {
    width: 200px;
    height: 200px;
    background-color: #e4ff8d;
}

.blue-1 {
    width: 200px;
    height: 200px;
    background-color: #d9e5ff;
}

.blue-2 {
    width: 200px;
    height: 200px;
    background-color: #bad3ff;
}

.blue-3 {
    width: 200px;
    height: 200px;
    background-color: #a4c6ff;
}

.blue-4 {
    width: 200px;
    height: 200px;
    background-color: #8eb8ff;
}

footer {
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #848282;
}

.footer-text {
    color: white;
}